body {
    font-family: Arial, sans-serif;
    text-align: center;
}
#deck-container, #suits-container div {
    border: 1px solid #000;
    width: 100px;
    height: 150px;
    margin: 10px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
}
